In [1]:
# Importing the necessary packages
import numpy as np                                  # "Scientific computing"
import scipy.stats as stats                         # Statistical tests

import pandas as pd                                 # Data Frame

import matplotlib.pyplot as plt                     # Basic visualisation

from numpy import mean
from numpy import std
from numpy import absolute
from pandas import read_csv
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler

The data provided contains information about individual study results for mathematics, together with demographic information about the student.
Solve each subquest in one cell. Show, if applicable, at the end of each cell first 5 lines of your last result (s).

In [2]:
demographic = pd.read_csv('https://raw.githubusercontent.com/HOGENT-ML/course/main/datasets/demographic.csv')
demographic.head()

   StudentID  gender race/ethnicity parental level of education
0          0  female        group B           bachelor's degree
1          1  female        group C                some college
2          2  female        group B             master's degree
3          3    male        group A          associate's degree
4          4    male        group C                some college

Show some general info about the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   StudentID                    1000 non-null   int64
 1   gender                       1000 non-null   object
 2   race/ethnicity               1000 non-null   object
 3   parental level of education  1000 non-null   object
dtypes: int64(1), object(3)
memory usage: 31.4+ KB

Read in the dataset studentscore.csv

In [4]:
student = pd.read_csv('https://raw.githubusercontent.com/HOGENT-ML/course/main/datasets/studentscore.csv')
student.head()

   StudentID         lunch test preparation course  math score
0          0      standard                    none          72
1          1      standard               completed          69
2          2      standard                    none          90
3          3  free/reduced                    none          47
4          4      standard                    none          76

Show some general info about the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   StudentID                1000 non-null   int64
 1   lunch                    1000 non-null   object
 2   test preparation course  1000 non-null   object
 3   math score               1000 non-null   int64
dtypes: int64(2), object(2)
memory usage: 31.4+ KB

Merge both data frames so that you have one line left per student.  
We are doing an **inner** join on student and demographic, using the column StudentID.

,StudentID,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score
0,0,female,group B,bachelor's degree,standard,none,72
1,1,female,group C,some college,standard,completed,69
2,2,female,group B,master's degree,standard,none,90
3,3,male,group A,associate's degree,free/reduced,none,47
4,4,male,group C,some college,standard,none,76

Remove all lines that contain empty fields in some columns.

,StudentID,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score
0,0,female,group B,bachelor's degree,standard,none,72
1,1,female,group C,some college,standard,completed,69
2,2,female,group B,master's degree,standard,none,90
3,3,male,group A,associate's degree,free/reduced,none,47
4,4,male,group C,some college,standard,none,76

What are the unique values of lunch, test preparation course, gender, race/ethnicity and parental level of education?

lunch
standard        645
free/reduced    355
Name: count, dtype: int64

test preparation course
none         642
completed    358
Name: count, dtype: int64

gender
female    518
male      482
Name: count, dtype: int64

race/ethnicity
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64

parental level of education
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: count, dtype: int64

Replace the textual values of 'lunch', 'test preparation course' and 'gender' by numeric values 0 and 1.

,StudentID,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score
0,0,female,group B,bachelor's degree,0,none,72
1,1,female,group C,some college,0,completed,69
2,2,female,group B,master's degree,0,none,90
3,3,male,group A,associate's degree,1,none,47
4,4,male,group C,some college,0,none,76

,StudentID,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score
0,0,1,group B,bachelor's degree,0,0,72
1,1,1,group C,some college,0,1,69
2,2,1,group B,master's degree,0,0,90
3,3,0,group A,associate's degree,1,0,47
4,4,0,group C,some college,0,0,76


Later on we will make a prediction model for the 'math score'. Remove the column or columns that are not relevant for this purpose.

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score
0,1,group B,bachelor's degree,0,0,72
1,1,group C,some college,0,1,69
2,1,group B,master's degree,0,0,90
3,0,group A,associate's degree,1,0,47
4,0,group C,some college,0,0,76

What is X and what is y?

What is X_train, y_train, X_test, y_test?

What is the shape of X_train, y_train, X_test and y_test?

(750, 5) (250, 5) (750,) (250,)

What are the columns containing numbers?

Index(['gender', 'lunch', 'test preparation course'], dtype='object')

What are the columns containing text?

Index(['race/ethnicity', 'parental level of education'], dtype='object')

Define the ColumnTransformer for applying OneHotEncoder on both categorical columns.  
Why is one-hot-encoding preferable over numeric values in this case?

The dictionary below consists of the model Linear SVM Regression.  
Add a model for SVM Regression, using a 2nd-degree polynomial kernel.

In [ ]:
from sklearn.svm import LinearSVR

regressors = {
    "svm_reg": LinearSVR(epsilon=1.5, random_state=42)
}

For each of both models: 
* Define the data preparation and modeling pipeline
* Train the model
* What is the accuracy of the model, expressed as MAE? Use K-fold cross-validation with k = 3.

svm_reg --> mae = 11.04395603243808
svm_poly_reg --> mae = 11.406481743196977

Find the best value for parameter epsilon for the linear model using GridSearchCV with three folds.

best estimator = LinearSVR(epsilon=3.0, random_state=42)
best score = 11.015022781135556

Use GridSearchCV to find the best parameters for the non-linear SVM regression task with little regularization (C is a large value)
* epsilon = 0.1, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5 
* kernel' = 'rbf', 'poly', 'sigmoid', 'linear'
* degree = [1, 2, 3]

best estimator = SVR(C=100, degree=1, epsilon=1.0, kernel='poly')
best score = 10.6970230922105

Is it worth using non-linear SVM iso linear SVM?