Use the data from the csv file adventureworks_assoc.csv.  Determine which items are often bought together when

* “together” means “same order”
* “together” means “same customer”

Play around with the values for support and lift to limit the number of rules.

In [1]:
import pandas as pd
url = 'https://raw.githubusercontent.com/HOGENT-ML/course/main/datasets/adventureworks.csv'
df = pd.read_csv(url,sep=';')
df.shape

(32166, 4)

In [2]:
df.head()

  OrderNumber  CustomerKey  LineNumber             Model
0     SO72773        11001           4         Sport-100
1     SO72773        11001           1          Road-750
2     SO72773        11001           2      Water Bottle
3     SO72773        11001           3  Road Bottle Cage
4     SO68413        11012           1    Road Tire Tube